* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.zonewrap canvas {
  position: absolute;
  top: 0;
  left: 0;
}

header {
  height: 100px;
  background-color: antiquewhite;
}

.logo {
  width: 300px;
  height: 100px;
  background-color: rgb(119, 131, 102);
  margin: 0 auto;
}

.content {
  height: 80vh;
  width: 70vw;
  background-color: lightblue;
  margin: 3vh auto;
}

.ad_bar,
.ad_bar2 {
  width: 10vw;
  height: 60vh;
  background: black;
  position: absolute;
  margin: 2.3vw;
}

.ad_bar2 {
  right: 0;
}

.camZone {
  position: absolute;
  width: 25vw;
  height: 50vh;
  border-radius: 100%;
  overflow: hidden;
  border: solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

video {
  object-fit: cover;
}

.camWrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.zonewrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.faceInfo {
  float: right;
  width: 18vw;
  text-align: center;
}

#faceType {
  font-size: 30px;
  font-weight: bold;
}

#explain {
  font-size: 20px;
}

.faceLandmarks {
  margin: 0 auto;
  width: 15vw;
  height: 15vw;
  background: black;
  overflow: hidden;
}

.faceLandmarks canvas {
  transform: translate(-30%, -40%);
  width: 35vw;
}

.glassType {
  width: 15vw;
  height: 27vh;
  background: black;
  float: left;
}
